@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Prata:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  background: #FDFDFB;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

h2 {
  font-family: "Playfair display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
}

h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
}

h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.info {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 26px 38px;
  background: #444240;
  color: #FFFFFF;
}

.ruble {
  padding: 0 0 0 7px;
}

.header {
  padding: 30px 0;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  color: #555248;
}
.header__list {
  display: flex;
  width: 422px;
  justify-content: space-between;
}
.header__list li {
  list-style: none;
}
.header__list .btn-nobg:hover {
  color: #1A1025;
  transition: color 0.3s ease 0s;
}
.header__actions {
  display: flex;
  justify-content: space-between;
  width: 99px;
}
.header__notification {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  /* identical to box height */
  text-align: center;
  color: #1B1A17;
}
.header__notification .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: -5px;
  right: -5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #E6C8B4;
  color: #1B1A17;
}

.more {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: no-repeat center top url(../img/Ellipse.png);
}
.promo__text {
  position: relative;
}
.promo__text .line {
  position: absolute;
  left: -65px;
  top: 275px;
}
.promo__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 236px 0 0 0;
}
.promo__content h3 {
  margin: 0 0 39px 0;
}
.promo__content .btn:hover {
  background: #0E121E;
  transition: background 0.3s ease 0s;
}
.promo__description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 64px 0;
  color: rgba(27, 26, 23, 0.82);
}
.promo__img {
  position: relative;
}
.promo__img span {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}
.promo__watch {
  width: 500px;
  height: 800px;
}
.promo__price {
  position: absolute;
  left: -65px;
  top: 150px;
  display: flex;
  align-items: center;
}
.promo__price .line {
  padding: 0 0 0 15px;
}
.promo__price .ruble {
  width: 9.6px;
  height: 13px;
}
.promo__info {
  position: absolute;
  bottom: 150px;
  right: -80px;
}
.promo__info .line {
  padding: 0 15px 0 0;
}
.promo__content:last-child {
  margin-bottom: 0;
}

.goods {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 60px;
}
.goods_price {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.goods_price img {
  width: 7.38px;
  height: 10px;
}
.goods__head {
  align-self: center;
}
.goods__btn {
  align-self: flex-end;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 11px 0;
  color: #444240;
  border-bottom: 1px solid #C4C0B6;
}
.goods__btn:hover {
  color: #0E121E;
  border-bottom: 1px solid #0E121E;
  transition: all 0.3s ease 0s;
}
.goods__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.goods__item {
  display: flex;
  flex-direction: column;
  padding: 36px 45px;
}
.goods__name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
}
.goods__image {
  width: 313px;
  height: 313px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 10px rgba(92, 92, 80, 0.23));
  box-shadow: 1px 1px 0px #E2D0C4;
}
.goods__image img {
  max-width: 100%;
}
.goods__more {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 0 0 0;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
}
.goods__more .line {
  width: 30px;
  padding: 0 15px 0 0;
}
.goods__more .btn-nobg:hover {
  color: #1A1025;
  transition: color 0.3s ease 0s;
}

.features {
  margin: 80px 0 0 0;
  background: no-repeat right top url(../img/lines_banner.png) #F7F5EF;
}
.features__container {
  display: flex;
  flex-direction: column;
}
.features__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 52px 124px 55px 80px;
}
.features__img {
  width: 521px;
  height: 414px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.features__pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 20px 80px 0px 0px;
  color: rgba(27, 26, 23, 0.82);
}
.features__text {
  align-self: center;
}
.features__text h4 {
  margin: 0 0 38px 0;
}
.features__description {
  margin: 0 0px 45px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
}
.features__btn {
  background: #D4B098;
  width: 205px;
  height: 64px;
}
.features__btn:hover {
  background: #8A5531;
  transition: background 0.3s ease 0s;
}
.features__page {
  padding: 0 20px;
}
.features__text:last-child {
  margin-bottom: 0;
}

.follow {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.follow__text {
  padding: 150px 0 0 0;
  margin: 0 0 118px 0;
}
.follow__text h4 {
  margin: 0 0 40px 0;
}
.follow__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
}
.follow__socials {
  width: 93px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.follow__left *:last-child {
  margin-bottom: 0;
}
.follow__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.follow__first {
  display: flex;
  height: 460px;
  flex-direction: column;
  justify-content: space-between;
}
.follow__second {
  width: 377px;
  height: 460px;
  margin: 0 0 0 10px;
}

.footer {
  background: #444240;
  margin-top: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 65px 0;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column li {
  margin: 0 0 15px 0;
}
.footer__column li:last-child {
  margin-bottom: 0;
}
.footer__head {
  margin: 0 0 33px 0;
  height: 38px;
  display: flex;
  align-items: center;
}
.footer h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer a:hover {
  color: #A29F9C;
  transition: color 0.3s ease 0s;
}